torch 
torchvision 
torchaudio

langchain>=0.3.27
langchain-core>=0.3.75
langchain-community>=0.3.27
langgraph>=0.6.6
langgraph-checkpoint>=2.1.1
langchain-groq>=0.3.7
langchain-huggingface>=0.3.1
langchain-chroma>=0.2.6
chromadb>=1.0.20
sentence-transformers>=5.1.0
transformers>=4.55.4
rank-bm25>=0.2.2
pypdf>=6.0.0
python-docx>=1.2.0
streamlit>=1.49.1
tqdm>=4.67.1
pandas>=2.2.2
numpy>=2.3.2
